# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local.backup

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Database
*.db
database-backups/

# System Files
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo
.vercel

# Misc
.env*.local
.env.development
.env.production

# Typescript
*.tsbuildinfo
next-env.d.ts

# Logs
/logs
*.log

# Supabase
.supabase/

# Caches
.cache/
.env-backups/
.env.local.bak
scripts/reset-prisma-connection.js
src/app/test-tunnel/README.md

# Sentry Config File
.env.sentry-build-plugin
